@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --font-headline: 'Montserrat', sans-serif;
  --font-body: 'Open Sans', sans-serif;
}

/* Light mode styles */
html,
body {
  @apply bg-[#ffffff] text-gray-800;
  font-family: var(--font-body);
}

/* Dark mode overrides */
html.dark,
body.dark {
  @apply bg-[#1A202C] text-gray-100;
}


/* Custom animation keyframes */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animation utility classes */
.animate-fadeInUp {
  animation: fadeInUp 0.3s ease-out;
}
